<table class="table">
  <thead>
    <tr>
      <th title="Identificador da categoria.">#</th>
      <th title="Nome da categoria.">Categoria</th>
      <th title="Ações">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of [1, 1, 1, 1, 1]">
      <th scope="row">1</th>
      <td>Categoria 1</td>
      <td>
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <i class="fa fa-eye" aria-hidden="true"></i>
        <i class="fa fa-trash" aria-hidden="true"></i>
      </td>
    </tr>
  </tbody>
</table>
